@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">.Net Matter Controller</h1>
    <a asp-controller="devices" asp-action="add" class="btn btn-primary">Add Device</a>
</div>
