@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/discovery.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
    <a href="#" @@click="startAdd()" class="btn btn-primary">Start Commissioning Device</a>
</div>

<script type="text/javascript">

       const app = Vue.createApp({
       data() {
         return {
           message: "Hello World!"
         }
       }, methods: {
           startAdd()  {
                console.log('Trigger Add');
                fetch('/api/devices',{ method:'POST' });
           }
       }
     });

    app.mount('#app')

</script>