@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<a href="#" onclick="startAdd()">Add Device</a>

<script type="text/javascript">

    function startAdd() {
        console.log('Trigger Add');
    }

</script>